

services:
  ros2-vnc:
    image: ros2-vnc
    container_name: ros2-vnc
    ports:
      - "8080:8080"
      - "5900:5900"
    shm_size: "2g"
    tty: true        # entspricht -t
    stdin_open: true # entspricht -i
    restart: unless-stopped
    command: bash -c '/usr/bin/supervisord -c /home/user/supervisor/supervisord.conf'
